.main-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  padding: 2rem;
  height: calc(100vh - 70px);
  overflow: scroll;
}

@media screen and (max-width: 380px) {
  .main-wrapper {
    padding: 1rem;
  }
}
