.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  background-color: var(--background-darker);
  cursor: pointer;
  transition: all 0.4s ease;
}

.product--on-sale::after {
  content: attr(data-discount);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.product:hover {
  box-shadow: 0 0 20px rgba(80, 80, 80, 0.8);
}

.product:hover .product__name,
.product:hover .product__price {
  color: var(--secondary-color);
}

.product__image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  max-width: 100%;
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  margin-top: auto;
}

.product__name {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.product__price {
  font-size: 0.875rem;
  opacity: 0.8;
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.product__price > small {
  margin-right: 0.5rem;
  text-decoration: line-through;
}
