.search__item {
  display: flex;
  flex-direction: row;
}

.search__item + .search__item {
  margin-top: 1rem;
}

.search__item .item__image {
  max-width: 90px;
}

.search__item .item__details {
  padding: 0.5rem;
  height: fit-content;
  width: 100%;
}

.search__item .item__text {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.search__item .item__text--small {
  font-size: 0.875rem;
}
